@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil de Operativo"; 
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Seu identificador de acesso" disabled />
                <label asp-for="Username" class="form-label">Identificador (Email)</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Por favor, insira seu telefone." />
                <label asp-for="Input.PhoneNumber" class="form-label">Telefone (Opcional)</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Salvar Perfil</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}