@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo Primaca ! </h1>
    <p>Aprenda sobre Warhammer neste site:  <a href="https://www.warhammer.com/en-WW/warhammer-40000-lp?srsltid=AfmBOoouJjb2PvFNQ64VYVTQ2ROKxfTHw3X6Pi-qmHiA1-1TS0XOcdQS"> Boa sorte e lute pelo imperador! </a>.</p>
</div>
