@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Relatório: Contingente por Capítulo";
}

<h1>@ViewData["Title"]</h1>
<p class="lead" style="font-family: 'EB Garamond', serif;">Totalização de Astartes agrupados por Capítulo de origem.</p>
<hr />

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary">&laquo; Voltar ao Hub de Consultas</a>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Capítulo</th>
                    <th class="text-end">Contagem de Soldados</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NomeDoGrupo</td>
                        <td class="text-end" style="font-weight: bold; font-size: 1.1rem;">@item.Contagem</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>